:root {
    --body-background-color: #000032;
    --body-text-color: #ffb600;
    --card-background-color: #00006bff;
    --nav-background-color: #00006bff;
    --nav-border-bottom-color: #006bff;
    --nav-current-border-bottom-color: #ffb600;
    --card-border-color: #006bff;
    --down-border-left-color: #fa0000;
    --down-background-color: #320000;
    --degraded-border-left-color: #006bff;
    --up-border-left-color: #ffb600;
    --tag-color: #000032;
    --tag-up-background-color: #ffb600;
    --tag-down-background-color: #fa0000;
    --tag-degraded-background-color: #006bff;
    --change-background-color: #ffb600;
    --error-button-border-color: #fa0000;
    --error-button-background-color: #320000;
    --error-button-color: #ffb600;
    --submit-button-border-color: #ffb600;
    --submit-button-background-color: #00006bff;
    --submit-button-color: #ffb600;
    --graph-opacity: 1;
    --graph-filter: none;
}
